evaFernades1
evaFernades/.directory
evaFernades/.editorconfig
evaFernades/.eslintignore
evaFernades/.eslintrc.js
evaFernades/.gitignore
evaFernades/.postcssrc.js
evaFernades/.stylintrc
evaFernades/app-icon.png
evaFernades/app-splashscreen.png
evaFernades/babel.config.js
evaFernades/package-lock.json
evaFernades/package.json
evaFernades/quasar.conf.js
evaFernades/quasar.extensions.json
evaFernades/README.md
evaFernades/src/App.vue
evaFernades/src/index.template.html
evaFernades/src/manifest.json
evaFernades/src/assets/.directory
evaFernades/src/assets/quasar-logo-full.svg
evaFernades/src/assets/sad.svg
evaFernades/src/boot/.gitkeep
evaFernades/src/boot/axios.js
evaFernades/src/boot/i18n.js
evaFernades/src/boot/pouchdb.js
evaFernades/src/components/.gitkeep
evaFernades/src/components/database/pouchdb.js
evaFernades/src/components/global/TakePicture.vue
evaFernades/src/components/global/UserForm.vue
evaFernades/src/components/mixins/dateTime.js
evaFernades/src/components/mixins/price.js
evaFernades/src/css/app.styl
evaFernades/src/css/quasar.variables.styl
evaFernades/src/i18n/index.js
evaFernades/src/i18n/en-us/index.js
evaFernades/src/layouts/MyLayout.vue
evaFernades/src/layouts/SecureLayout.vue
evaFernades/src/pages/Error404.vue
evaFernades/src/pages/Index.vue
evaFernades/src/pages/background/Panel.vue
evaFernades/src/pages/background/backups/data.Vue
evaFernades/src/pages/background/users/Lists.vue
evaFernades/src/pages/background/users/Profile.vue
evaFernades/src/pages/frontend/Login.vue
evaFernades/src/pages/frontend/Register.vue
evaFernades/src/router/index.js
evaFernades/src/router/routes.js
evaFernades/src/statics/.directory
evaFernades/src/statics/app-logo-128x128.png
evaFernades/src/statics/logo-128x128.png
evaFernades/src/statics/Logotipo Eva Mendes.png
evaFernades/src/statics/logotipo.png
evaFernades/src/statics/user.png
evaFernades/src/statics/icons/.directory
evaFernades/src/statics/icons/apple-icon-120x120.png
evaFernades/src/statics/icons/apple-icon-152x152.png
evaFernades/src/statics/icons/apple-icon-167x167.png
evaFernades/src/statics/icons/apple-icon-180x180.png
evaFernades/src/statics/icons/favicon-16x16.png
evaFernades/src/statics/icons/favicon-32x32.png
evaFernades/src/statics/icons/favicon-96x96.png
evaFernades/src/statics/icons/favicon.ico
evaFernades/src/statics/icons/icon-128x128.png
evaFernades/src/statics/icons/icon-192x192.png
evaFernades/src/statics/icons/icon-256x256.png
evaFernades/src/statics/icons/icon-384x384.png
evaFernades/src/statics/icons/icon-512x512.png
evaFernades/src/statics/icons/ms-icon-144x144.png
evaFernades/src/statics/icons/safari-pinned-tab.svg
evaFernades/src/store/index.js
evaFernades/src/store/auth/actions.js
evaFernades/src/store/auth/getters.js
evaFernades/src/store/auth/index.js
evaFernades/src/store/auth/mutations.js
evaFernades/src/store/auth/state.js
evaFernades/src/store/module-example/actions.js
evaFernades/src/store/module-example/getters.js
evaFernades/src/store/module-example/index.js
evaFernades/src/store/module-example/mutations.js
evaFernades/src/store/module-example/state.js
evaFernades/src-pwa/custom-service-worker.js
evaFernades/src-pwa/register-service-worker.js
evaFernades1
